<div class="container">
  <div class="row my-4">
    <div class="col-4" *ngFor="let product of products">
      <mat-card class="{{product.id}}">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider class="my-3"></mat-divider>
        <mat-card-content>
          <p>
            <strong>Descrição: </strong
            >{{ product.description }}
          </p>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-end">
          <button mat-icon-button color="primary" (click)="editProduct(product.id)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(product.id)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
