<mat-toolbar color="primary">
  <button mat-button routerLink="">Crud</button>
  <span class="spacer"></span>
  <div class="menu">
    <button mat-button routerLink="users">
      Usuários
    </button>
    <button mat-button routerLink="users/create-users">
      Cadastrar usuário
    </button>
    <button mat-button routerLink="products">
      Produtos
    </button>
    <button mat-button routerLink="products/create-products">
      Cadastrar produto
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
